*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #0c1b27, #aaafb8)
}

header {
    width: 100%;
}

header nav {
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
}

header nav .left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.left-content .icono i {
    padding: .5rem;
    color: white;
    background-color: #0097b2;
    border-radius: 50%;
    font-size: 1.2em;
}

.left-content h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 2em;
    color: white;
    line-height: 1;
}

.left-content a {
    border: none;
    background-color: transparent;
    color: #3bb0d1;
    cursor: pointer;
    text-decoration: none;
    margin-left: 1rem;
    font-family: 'DM Sans', sans-serif;
}

.right-content i {
    padding: .5rem;
    color: white;
    background-color: #0097b2;
    border-radius: 50%;
    font-size: 1.2em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.container .hero {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 2rem;
}

.container .hero img {
    position: absolute;
    width: 40%;
    top: 20%;
    right: 10%;
    opacity: 0.7;
    transform: translate(0%, 20%);
}

.container .hero .dots {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    right: 5.5rem;
    transform: translateY(-30%);
    gap: .5rem;
}

.container .hero .dots .dot:nth-child(2) {
    background-color: #0097b2;
    border: 2px solid #0097b2;
}

.container .hero .dots .dot {
    padding: .3rem;
    border: 2px solid white;
    border-radius: 50%;

}

.buttons-container {
    display:inline;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttons-container button,
.buttons-container a {
    display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    font-size: 1em;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: #00c6ba;
    padding: .5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    z-index: 1;
}

form {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 30%;
    left: 30%;
}

form h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gagalin', sans-serif;
    font-size: 1.2em;
    padding-left: 3rem;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50rem;
    padding: 1rem;
}

form input {
    border-radius: 50rem;
    font-size: 1em;
    padding: 0.7rem 1rem;
    border: none;
    font-family: 'DM Sans', sans-serif;
    outline: none;
    width: 75%;
    padding-left: 2.5rem;
}

.form-field {
    position: relative;
}

.form-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    opacity: 0.8;
    font-size: 1.3em;
}