<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Sale Tracking</title>
    <link rel="stylesheet" th:href="@{/css/registercustomer.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,600&family=Pacifico&display=swap"
        rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/gagalin" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="left-content">
                <div class="icono">
                    <i class='bx bxs-car'></i>
                </div>
                <h1>Conde
                    <br>Car
                </h1>
            </div>
            <div class="right-content">
                <i class='bx bxs-user-circle'></i>
            </div>

        </nav>
    </header>
    <div class="container">
        <div class="hero">
            <img th:src="@{/img/Carro3.png}" alt="">

            <div class="dots">
                <p class="dot"></p>
                <p class="dot"></p>
                <p class="dot"></p>
            </div>
        </div>

        <div>
            <form th:action="@{/registersuppliers}" th:object="${suppliers}" method="post">
                <h3>Edit suppliers registration</h3>
                <div class="form-field">
                    <input type="text" th:field="*{compaName}" placeholder="Company name" required>
                </div>

                <div class="form-field">
                    <input type="text" th:field="*{mainContact}" placeholder="Main contact" required>
                </div>

                <div class="form-field">
                    <input type="text" th:field="*{contactInfo}" placeholder="Contact information" required>
                </div>

                <div class="form-field">
                    <input type="text" th:field="*{producType}" placeholder="Product type" required>
                </div>

                <div class="form-field">
                    <input type="text" th:field="*{purHistory}" placeholder="Purchase history" required>
                </div>

                <div class="buttons-container">
                    <button>Save changues</button>
                    <a th:href="@{/SupplierRegistration}">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>